/*------------- articleList --------------*/
.artListContainer {
  margin-top: 18%;
}
.artListContainer .banner {
  width: 100%;
  position: fixed;
  top: 65px;
}
.artList {
  position: relative;
}
.artList .banner {
  width: 100%;
  position: fixed;
  top: 65px;
  z-index: 0;
}
.artList .artItem {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  height: 150px;
  padding: 15px;
  background-color: white;
  opacity: 0.9;
  color: #666;
  transition: all 0.25s;
  display: flex;
  align-items:center;/*垂直居中*/
  justify-content: center;/*水平居中*/
}
.artList .artItem:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.artList .artItem:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.artList .aboutMe {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10%;
  text-align: center;
  overflow: hidden;
}
.artList .aboutMe h2 {
  font-size: 48px;
}
.artList .aboutMe .blogTitle {
  float: left;
  margin-left: 5%;
}
.artList .artContent {
  width: 90%;
  text-align: center;
  display: flex;
}
.artList .artContent h3 {
  width: 30%;
}
.artList .artContent p {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}
/*------------- articleList --------------*/
